<app-carousel></app-carousel>
<div class="quote-description-div">
    <h6>Looking for qualitiy and affordable service?</h6>
    <button mat-button class="quote-btn">Get an online quote</button>
</div>

<div class="about-us-div">
    <h6 class="heading">About Us</h6>
    <p class="description">We are working towards excellence in the electrical & electronics space, including solar photovoltaics, and believe in pursuing business through innovation and technology. Our start-up comes with several “IITs” with technical experts in different areas. Our goal is to provide good quality products, best services.</p>
    <div class="property-div">
        properties
    </div>
    <button mat-button class="explore-btn">Explore More</button>
</div>
<div class=" product-section products">
    <div class="card">
        <div class="p-img"><img src="assets/products/own-products/water-controller-o.png" alt="product image"></div>
        <div class="p-detail">
            <div class="p-name">Water Controller device</div>
            <div class="p-price-rating-availability">
                <div class="p-price pra"><fa-icon [icon]="rupee"></fa-icon>1882.00 |</div>
                <div class="p-rating pra">
                    <fa-icon [icon]="rating"></fa-icon>
                    <fa-icon [icon]="rating"></fa-icon>
                    <fa-icon [icon]="rating"></fa-icon>
                    <fa-icon [icon]="rating"></fa-icon>
                    <fa-icon [icon]="rating"></fa-icon>
                </div>
                <div class="p-availability pra">in stock</div>
            </div>
            <div class="add-to-cart-button">
                <button class="view-details">VIEW DETAILS</button>
                <button class="add-cart">ADD TO CART</button>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="p-img"><img src="assets/products/own-products/water-controller-o.png" alt="product image"></div>
        <div class="p-detail">
            <div class="p-name">Water Controller device</div>
            <div class="p-price-rating-availability">
                <div class="p-price pra"><fa-icon [icon]="rupee"></fa-icon>1882.00 |</div>
                <div class="p-rating pra">
                    <fa-icon [icon]="rating"></fa-icon>
                    <fa-icon [icon]="rating"></fa-icon>
                    <fa-icon [icon]="rating"></fa-icon>
                    <fa-icon [icon]="rating"></fa-icon>
                    <fa-icon [icon]="rating"></fa-icon>
                </div>
                <div class="p-availability pra">in stock</div>
            </div>
            <div class="add-to-cart-button">
                <button class="view-details">VIEW DETAILS</button>
                <button class="add-cart">ADD TO CART</button>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="p-img"><img src="assets/products/own-products/water-controller-o.png" alt="product image"></div>
        <div class="p-detail">
            <div class="p-name">Water Controller device</div>
            <div class="p-price-rating-availability">
                <div class="p-price pra"><fa-icon [icon]="rupee"></fa-icon>1882.00 |</div>
                <div class="p-rating pra">
                    <fa-icon [icon]="rating"></fa-icon>
                    <fa-icon [icon]="rating"></fa-icon>
                    <fa-icon [icon]="rating"></fa-icon>
                    <fa-icon [icon]="rating"></fa-icon>
                    <fa-icon [icon]="rating"></fa-icon>
                </div>
                <div class="p-availability pra">in stock</div>
            </div>
            <div class="add-to-cart-button">
                <button class="view-details">VIEW DETAILS</button>
                <button class="add-cart">ADD TO CART</button>
            </div>
        </div>
    </div>
    
</div>