.container {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    font-family: sans-serif;
    background: white;
    padding-left: 10px;
    padding-right: 10px;
    height: 60px;
}

.nav-bar-link {
    display: flex;
    justify-content: space-between;
}

.nav-bar-link li {
    margin-left: 35px;
    list-style-type: none;
    font-size: 15px;
}

.nav-bar-link li a {
    text-decoration: none;
    color: black;
}
.nav-bar-link li a fa-icon{
    margin-right: 5px;
}

.tadoba-logo a img {
    height: 45px;
}
.search {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 300px;
    height: 35px;
    background-color: #fff;
    
}
.search input{
    height: 25px;

}
.search button{
    height: 27px;
    width: 40px;

}
.services{
    display: none;
}
.products{
    display: none;
}

.nav-bar-link li:hover .services{
    display: block;
    position: absolute;
    background-color: white;
    text-align: left;
    padding: 23px 23px 23px 0px;
    z-index: 999;

}


.nav-bar-link li:hover .products{
    display: block;
    position: absolute;
    background-color: white;
    text-align: left;
    padding: 23px 23px 23px 0px;
    z-index: 999;
    
}

.services ul li{
    margin-top: 10px;
    padding: 0px 0px 10px 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.404);

}
.products ul li{
    margin-top: 10px;  
    padding: 0px 0px 10px 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.404); 
}
.nav-bar-link li button{
    padding: 3px 5px 3px 5px;
    background-color: white;
    border: 1.5px solid black;
    border-radius: 5px;

}.hamburger-menu{
    display: none;
}
@media (min-width: 600px) and (max-width: 1024px){
    .nav-bar-link{
        display: none;
    }
    .hamburger-menu{
        display: block;
        cursor: pointer;
    }
    .hamburger-menu fa-icon{
        font-size: 20px;
        color: black;
    }
}
@media (max-width: 600px) {
    .nav-bar-link{
        display: none;
    }
    .hamburger-menu{
        display: block;
        cursor: pointer;
    }
    .hamburger-menu fa-icon{
        font-size: 20px;
        color: black;
    }

}
