<header class="container">
    <div class="tadoba-logo"><a href="#"><img src="assets/logo/tadoba-logo.png" alt="Logo"></a></div>
    <!-- <div class="search">
        <input type="text" name="search" id="search">
        <button><i class="bi bi-search"></i></button>
    </div> -->
    <ul class="nav-bar-link">
        <li><a href="#">Services</a>
            <div class="services">
                <ul>
                    <li><a href="#">Solar Panal Installation</a></li>
                    <li><a href="#">Water Overflow Solution</a></li>
                    <li><a href="#">Training and Workshop</a></li>
                </ul>
            </div>
        </li>
        <li><a href="#">Products</a>
            <div class="products">
                <ul>
                    <li><a href="#">Manufactured Product</a></li>
                    <li><a href="#">Affiliate Product</a></li>
                </ul>
             </div>
        </li>
        <li><a href="#">Dealer & Distributorship</a></li>
        <li><a href="#">Courses</a></li>
        <li><a href="#">About Us</a></li>
        <li><button>SignUp</button></li>
    </ul>
    
</header>
