<footer class="container">
    <div class="links">
        <div class="sec service-sec">
            <h3>Services</h3>
            <ul>
                <li><fa-icon [icon]="rightArrow"></fa-icon><a href="#">Installation</a></li>
                <li><fa-icon [icon]="rightArrow"></fa-icon><a href="#">Commisioning</a></li>
                <li><fa-icon [icon]="rightArrow"></fa-icon><a href="#">Maintenance</a></li>
                <li><fa-icon [icon]="rightArrow"></fa-icon><a href="#">Training & Certificates</a></li>
            </ul>
        </div>
        <div class="sec usefull-link-sec">
            <h3>Userfull Links</h3>
            <ul>
                <li><fa-icon [icon]="rightArrow"></fa-icon><a href="#">Home</a></li>
                <li><fa-icon [icon]="rightArrow"></fa-icon><a href="#">Own Products</a></li>
                <li><fa-icon [icon]="rightArrow"></fa-icon><a href="#">Retail Shop</a></li>
                <li><fa-icon [icon]="rightArrow"></fa-icon><a href="#">Dealers & Distributionship</a></li>
            </ul>
        </div>
        <div class="sec quicklink-sec">
            <h3>Quick Links</h3>
            <ul>
                <li><fa-icon [icon]="rightArrow"></fa-icon><a href="#">About Us</a></li>
                <li><fa-icon [icon]="rightArrow"></fa-icon><a href="#">Contact Us</a></li>
                <li><fa-icon [icon]="rightArrow"></fa-icon><a href="#">Privicy Policy</a></li>
                <li><fa-icon [icon]="rightArrow"></fa-icon><a href="#">Terms and Conditions</a></li>
            </ul>
        </div>
        <div class="sec address-contact-sec">
            <h3>Address and Contact</h3>
            <ul>
                <li><fa-icon [icon]="location"></fa-icon><a href="#">Tadoba Solutions Private Limited 
                    Santoshi Nagar, Raipur (C.G.) 492001 (India)</a></li>
                <li><fa-icon [icon]="contact"></fa-icon><a href="#">+91 96857-78971</a></li>
                <li><fa-icon [icon]="email"></fa-icon><a href="#">infotadobasolutions.com</a></li>
            </ul>
        </div>
    </div>
    <div class="social-copy">
        <div class="social-media">
            <div class=" sos-med instagram"><fa-icon [icon]="instgram"></fa-icon></div>
            <div class="sos-med twitter"><fa-icon [icon]="twitter"></fa-icon></div>
            <div class=" sos-med facebook"><fa-icon [icon]="facebook"></fa-icon></div>
            <div class="sos-med youtube"><fa-icon [icon]="youtube"></fa-icon></div>
        </div>
        <div class="copy-right">
            <p><fa-icon [icon]="copyRight"></fa-icon>Tadoba Solutions 2021-2024 All rights reserved</p>
            <p>Developed by Tadoba Solutions</p>
        </div>
    </div>
    
</footer>