<div class="service-container">
    <div class="service-img">
        <img src="https://res.cloudinary.com/dziu7iyz1/image/upload/v1731841312/solar-8244680_1280_hldyre.jpg" alt=""
            class="img">
    </div>
    <div class="cricle-div">
        <fa-icon [icon]="icon" class="tool-icon"></fa-icon>
    </div>
    <div class="service-details-div">
        <h6>Installation</h6>
        <p>Our start-up comes with technical experts in different areas coming from several IITs with goal to provide
            best quality products.
        </p>
        <button mat-button class="read-more-btn">READ MORE</button>
    </div>
</div>