<div *ngIf="carouselData && carouselData.length > 0" class="carousel-container" (touchstart)="onSwipe($event, 'start')"
    (touchend)="onSwipe($event, 'end')">
    <div class="img-container">
        <img *ngFor="let data of carouselData; let i=index" [src]="data.imgUrl" alt="Product Image"
            [ngClass]="{'image-active': selectedIndex === i, 'slide-out': selectedIndex === i - 1, 'slide-in': selectedIndex === i + 1}" />
        <div class="btn-div">
            <button mat-icon-button class="btn" (click)="onPrevClick()">
                <mat-icon>keyboard_arrow_left</mat-icon>
            </button>
            <button mat-icon-button class="btn" (click)="onNextClick()">
                <mat-icon>keyboard_arrow_right</mat-icon>
            </button>
        </div>
    </div>
    <div class="text-div">
        <h1>{{carouselData[selectedIndex].imgTitle}}</h1>
        <p>{{carouselData[selectedIndex].imgDescription}}</p>
        <button mat-button class="read-more-btn" >Read More</button>
    </div>
    <div *ngIf="indicators" class="carousel-dot-container">
        <span *ngFor="let dot of carouselData; let i=index" class="dot" [ngClass]="{'active': selectedIndex === i}"
            (click)="selectImage(i)">
        </span>
    </div>
</div>
